body {
  width: 1200px;
  margin: 0 auto;
  background-color: #e9e9e9;
  font-family: 'Gill Sans';
  color: #1b1b1b;
  letter-spacing: 3px;
}
a {
  text-decoration: none;
  color: #1b1b1b;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

/* ----------------- header ----------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}
header .header-title {
  font-size: 30px;
  font-weight: lighter;
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding: 4px;
  margin-left: 10px;
}
header nav ul li:hover {
  background-color: #fff;
}

/* ----------------- first-view ----------------- */
.first-view {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}
.first-view img {
  width: 100%;
  height: 100%;
}
/* ------------------main----------------------- */

main {
  width: 95%;
  margin: 50px auto;
}
/* ------------------------section-------------------------------*/

section {
  width: 100%;
  margin-bottom: 100px;
}
.section-title h1 {
  font-size: 50px;
  font-weight: lighter;
  border-bottom: 1px solid #1b1b1b;
}
/* ------------------service----------------------- */
.service-contents {
  display: flex;
  justify-content: space-between;
}
.service-item {
  width: 30%;
  text-align: center;
}
.service-item-title h2 {
  font-size: 35px;
  font-weight: lighter;
}
.service-item-title h3 {
  font-size: 25px;
  font-weight: lighter;
}
.service-item-image {
  margin: 50px 0;
}
.service-item-image img {
  width: 50%;
}

/* -----------------Works--------------------- */
.works-contents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.works-item {
  width: 30%;  /* 要素を３つずつ並べるので、30%ずつで設定する。 */
  margin-bottom: 50px;
}
.works-item img {
  width: 100%;  /* 画像幅を指定して、適切な大きさに調整する。 */
}
.works-item img:hover {
  cursor: pointer;
  opacity: 0.7;
}
.works .view-more {
  margin: 0 auto;
  padding: 5px;
  border-bottom: 1px solid #1b1b1b;
  letter-spacing: 6px;
}
.works .view-more:hover {
  background-color: #bebebe;
}
 /* ---------------------career---------------------- */
.career-text {
  /* border: 1px solid #1b1b1b; */
  margin: 100px 0 0 20px;
}
.career-text p {
  margin-bottom: 30px;
}
/* --------------------contact---------------------- */
form {
  margin-left: 30px;
}
form ul li {
  margin-bottom: 10px;
}
form ul li input {
  padding: 10px;
  width: 250px;
  font-size: 16px;
}
form ul li textarea {
  width: 400px;
  padding: 10px;
  font-size: 16px;
}
form button {
  padding: 15px 50px;
  font-size: 20px;
  color: #ffffff;
  background-color: rgb(129, 129, 129);
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 7px #1b1b1b;

}
form button:hover {
  cursor: pointer;
  background-color: rgb(90, 90, 90);
}
form button:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}
/* --------------------footer------------------------ */
.footer-top {
  width: 100%;
  border-bottom: 2px solid #9c9a9a;
}
.footer-top nav ul{
  display: flex;
}
.footer-top nav ul li {
  margin-left: 30px;
}
.footer-bottom {
  width: 100%;
}
.footer-bottom p {
  text-align-last: right;  /* 文字を右端に揃えます。 */
  padding-right: 20px;     /* paddingを利用して右・下に余白を加えます。 */
  padding-bottom: 20px;
}
